<br>
<br>




<div>
    <table class="table  table-bordered  table-dark">
      <thead class="thead-dark">
      <tr>
        
        <th scope="col"><label>Order_Id</label> </th>
        <th scope="col"><label>Product_Name</label> </th>
        <th scope="col"><label>Product_Distributor_Id</label> </th>
        <th scope="col"><label>Product_Quantity_Value</label> </th>
        <th scope="col"><label>Product_Quantity_Unit</label> </th>
        <th scope="col"><label>Product_Price_Per_Unit</label> </th>
        <th scope="col"><label>Product_Expected_Delivery_Date</label> </th>
        <th scope="col"><label>Product_Total_Price</label> </th>
        <th scope="col"><label>Product_Location</label> </th>
        <th scope="col"><label>Product_Delivery_Status</label> </th>
        
       
      </tr>
    </thead>
  


      <tr>
        
        
        <td >{{productdetails.orderId}}</td>
        <td >{{productdetails.name}}</td>
        <td>{{productdetails.distributorId}}</td>
        <td >{{productdetails.quantityValue}}</td>
        <td >{{productdetails.quantityUnit}}</td>
        <td >{{productdetails.pricePerUnit}}</td>
        <td>{{productdetails.expectedDeliveryDate}}</td>
        <td >{{productdetails.totalPrice}}</td>
        <td >{{productdetails.location}}</td>
        <td >{{productdetails.deliveryStatus}}</td>
        
      
      </tr>
    </table>
  </div>
  
