<div class="container-fluid"> 

    <div class="container-fluid">
        <div class="alert alert-danger" *ngIf="errorinfo!=undefined">{{errorinfo.message}} </div>

        <div class="alert alert-success"  *ngIf="orders!=null">

          <strong>Successfully updated</strong>
          

          
          
        </div>
        
    <form ngNativeValidate  #frm="ngForm">
    
        <div class="form-group">
        <th><label><b>OrderId: </b></label></th>
        <th><input type="text"  minlength="3" maxlength="8" class="form-control search-query"  id="inputorderid" placeholder="enter orderId" name=orderId [(ngModel)]="orderId" #orderid="ngModel" required pattern="^[0-9]*"><br>
          <div *ngIf="orderid.invalid && (orderid.dirty || orderid.touched)" class="text text-danger">
            <div *ngIf="orderid.errors.required">Please enter the orderid </div>
            <div *ngIf="orderid.errors.minlength">orderid should be minimum 3 characters.</div>
      
            
           </div>
        </th>
        </div>
          
      
        <div class="form-group">
          <label>Location</label>
          <input type = "text" name="status" minlength="3" maxlength="30"  class ="form-control " [(ngModel)]="location" placeholder="Enter Location" #orderid="ngModel" required pattern="^[A-Za-z]*">
          <p>Note: location must be atleast 3 characters in length</p>
          <div *ngIf="orderid.invalid && (orderid.dirty || orderid.touched)" class="text text-danger">
            <div *ngIf="orderid.errors.required">Please enter the orderid </div>
            <div *ngIf="orderid.errors.minlength">orderid should be minimum 3 characters.</div>
      
          </div>
      </div>

      




      <div class="form-group">
        <label>Expected delivery date</label>
        <input type = "text" name="date"  minlenght="10" maxlength="10" class ="form-control" [(ngModel)]="expectedDeliveryDate" placeholder="Enter Expected delivery date" required pattern="^[0-9]{4}-(((0[13578]|(10|12))-(0[1-9]|[1-2][0-9]|3[0-1]))|(02-(0[1-9]|[1-2][0-9]))|((0[469]|11)-(0[1-9]|[1-2][0-9]|30)))$">
        <p>Note:- Date must be in the pattern year-month-day "yyyy-mm-dd"</p>
         </div>

    <div  class="form-group">
    
        <label for="deliveryStatus">Choose a delivery Status:</label>
        <select id="deliveryStatus" name="deliveryStatus"  [(ngModel)]="deliveryStatus" >
          <option value="delivered" >delivered</option>
          <option value="Shipped "  >Shipped</option>
          <option value="Picked">Picked</option>
          <option value="Reached Destination">Reached Destination</option>
          <option value="Out for Delivery">Out for Delivery</option>
        </select>
        
    </div>
    
        <button class="btn btn-primary" min length="3"  type="submit" [disabled]="!frm.valid" (click)="updateOrder()">Submit</button>
    </form>
    </div>
