<br>
<br>




<div>
    <table class="table  table-bordered  table-dark">
      <thead class="thead-dark">
      <tr>
        
        <th scope="col"><label>Distributor_Id</label> </th>
        <th scope="col"><label>Distributor_Name</label> </th>
        <th scope="col"><label>Distributor_Address</label> </th>
        <th scope="col"><label>Distributor_Phn</label> </th>
        
       
      </tr>
    </thead>
  
      
      <tr>
        
        
        <td >{{distributordetails.distributor_Id}}</td>
        <td >{{distributordetails.distributor_Name}}</td>
        <td>{{distributordetails.distributor_Address}}</td>
        <td >{{distributordetails.distributor_Phn}}</td>
      
      </tr>
    </table>
  </div>
  
